@model IEnumerable<Projecten2_TicketingPlatform.Models.Domein.Contract>

@{
    ViewData["Title"] = "Contracten";
}

<h1>@ViewData["Title"]</h1>
<form>
    <div class="form-inline">
        <div class="form-group">
            <label for="contractStatus"></label>
            <select id="contractStatus" name="contractStatus" asp-items="@(ViewData["ContractStatussen"] as SelectList)" class="form-control">
                <option value="">-- Alle Statussen --</option>
            </select>
        </div>
        <button type="submit" class="btn btn-secondary ml-1">Verstuur</button>
        <a asp-controller="Contract" asp-action="Create" class="btn btn-secondary text-right ml-5">Nieuw Contract</a>
    </div>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ContractId)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.ContractType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StartDatum)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EindDatum)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ContractStatus)
            </th>
            @*<th></th>*@
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ContractId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ContractType)
            </td>
            <td>
                @(item.StartDatum.ToString("dd/MM/yyyy"))
            </td>
            <td>
                @(item.EindDatum.ToString("dd/MM/yyyy"))
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ContractStatus)
            </td>
            @*<td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>*@
        </tr>
}
    </tbody>
</table>
