@model IEnumerable<Projecten2_TicketingPlatform.Models.Domein.Ticket>

@{
    ViewData["Title"] = "Tickets beheren";
}

<h1>@ViewData["Title"]</h1>


<form>
    <div class="form-inline">
        <div class="form-group">
            <label for="ticketStatus"></label>
            <select id="ticketStatus" name="ticketStatus" asp-items="Html.GetEnumSelectList<TicketStatus>()" class="form-control" onchange="this.form.submit()">
                <option selected="selected" value="">-- Ticket status --</option>
            </select>
        </div>
        <a asp-controller="Ticket" asp-action="Create" class="btn btn-primary text-right ml-5">Nieuw Ticket</a>
    </div><br />
</form>
<table class="table">
    <thead>
        <tr>
            <th style="width: 25%">
                @Html.DisplayNameFor(model => model.Titel)
            </th>
            <th style="width: 20%">
                @Html.DisplayNameFor(model => model.Ticketid)
            </th>
            <th style="width: 25%">
                @Html.DisplayNameFor(model => model.Status)
            </th>
            @*<th>
                @Html.DisplayNameFor(model => model.DatumAanmaken)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Omschrijving)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TypeTicket)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.KlantId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TechniekerId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Opmerkingen)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Bijlage)
            </th>*@
            <th style="width: 30%"></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model)
{
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Titel)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ticketid)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            @*<td>
                @(item.DatumAanmaken.ToString("dd/MM/yyyy"))
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Omschrijving)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TypeTicket)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.KlantId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TechniekerId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Opmerkingen)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Bijlage)
            </td>*@
        <td style="text-align:right">
            @if (!(item.Status == TicketStatus.Geannuleerd || item.Status == TicketStatus.Afgehandeld))
            {<span><a asp-controller="Ticket" asp-action="Edit" asp-route-ticketId="@item.Ticketid">Bewerken</a> | </span>
             <span><a asp-controller="Ticket" asp-action="Annuleer" asp-route-ticketId="@item.Ticketid">Annuleren</a> | </span>
            }
            <span><a asp-controller="Ticket" asp-action="Details" asp-route-ticketId="@item.Ticketid">Details</a></span>
                
            </td>
        </tr>
}
    </tbody>
</table>
