@model IEnumerable<Projecten2_TicketingPlatform.Models.Domein.Ticket>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Titel)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ticketid)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DatumAanmaken)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Omschrijving)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TypeTicket)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.KlantId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Technieker)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Opmerkingen)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Bijlage)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Titel)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ticketid)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @(item.DatumAanmaken.ToString("dd/MM/yyyy"))
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Omschrijving)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TypeTicket)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.KlantId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Technieker)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Opmerkingen)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Bijlage)
            </td>
            <td>
                <a asp-controller="Ticket" asp-action="Edit" asp-route-ticketId="@item.Ticketid">Edit</a> |
                <a asp-controller="Ticket" asp-action="Delete" asp-route-ticketId="@item.Ticketid">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
